# Created by .ignore support plugin (hsz.mobi)
.idea/
wing.css
authentification.php
authentificationForm.php
cryptPass.php
cryptPassForm.php
!errorPage.php
pass.php
passForm.php
!Manager.php
!MonException.php
!veriTest2.php

